<ion-view ng-controller="IndexCtrl as vm">
    <ion-nav-title>Рецепты</ion-nav-title>
    <ion-content class="padding">
        <div class="card" ng-show="vm.lastCooking">
            <div class="item item-divider">
                Последний рецепт
            </div>
            <div class="item item-text-wrap item-button-right">
                <h1 ui-sref="home.recipe.ingredients({id: vm.lastCooking.recipe.id})">{{ vm.lastCooking.recipe.name }}</h1>

                <div class="row">
                    <div class="col">Собранные ингредиенты</div>
                    <div class="col">{{ vm.lastCooking.ingredients.count }} из {{ vm.lastCooking.recipe.ingredients.length }}</div>
                </div>
                <div class="row">
                    <div class="col">Шагов пройдено</div>
                    <div class="col">{{ vm.lastCooking.steps.passed }} из {{ vm.lastCooking.recipe.steps.length }}</div>
                </div>
                <button class="button button-positive" ui-sref="home.recipe.ingredients({id: vm.lastCooking.recipe.id})">
                    Далее
                </button>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Статистика
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col">Всего рецептов</div>
                    <div class="col">{{ vm.stat.totalRecipes }}</div>
                </div>
                <div class="row">
                    <div class="col">Часов готовки</div>
                    <div class="col">{{ vm.stat.cookingHours }}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>