/* Empty. Add your own CSS if you like */

.icon-complexity-0 {
	font-size: 150%;
}
.icon-complexity-1 {
	font-size: 170%;
}
.icon-complexity-2 {
	font-size: 190%;
}
.icon-complexity-3 {
	font-size: 210%;
}

.icon-enable {
	opacity: 1;
}

.icon-disable {
	opacity: 0.25;
}

.step-done {
	opacity: 0.3;
}
.step-text {
	font-size: 90%;
}
.step-multicooker-mode {
	font-size: 75%;
	text-transform: capitalize;
	border: 1px solid black;
	border-radius: 4px;
	padding: 2px;
}

.badge-top-right {
	right: 5px!important;
}

.index-thumbnail.item-image {
	max-height: 100%;
	overflow: hidden;
}
.index-thumbnail.item-image img:first-child {
	width: auto;
}

.ingredient-optional {
	opacity: 0.5;
}
.ingredient-first {
	display: block;
}
.ingredient-second {
	display: block;
	opacity: 0.6;
	font-size: 80%;
}
